<div class="account-login">
    <div class="profile-size">
        <div class="profile-circle account-login-navs">
            <img src="/img/slider2.jpeg" alt="we" class="profile">
        </div>
        </div>
        <div class="profile-name-nav">
            <%= storeName %>
            <div class="profile-nav-settings">
                <ul class="profile-link">
                    <li><a href=""><i class='bx bxs-user-account bxp'></i>Profile</a></li>
                    <li><a href=""><i class='bx bx-cog bxp'></i>Account Settings</a></li>
                    <li><a href="/logout"><i class='bx bx-log-out bxp'></i>Sign Out</a></li>
                </ul>
            </div>
        </div>
    </div>









