<form action="" method="post" class="account">
    <li><button class="btns"><a href="/login" class="login btn">Login</a></button></li>
    <li><button class="btns"><a href="/register" class="register btn">Resgister</a></button></li>
</form>