<footer>
    <div class="foot footer-container">
       <div class="footer-content containers">
        <h1>Customize Your Product</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
        <p>Cum maiores ipsum eos temporibus ea nihil.</p>
        <button class="btn-footer">Get Started</button>
        <div class="horizontal"></div>
       </div>
       
       <div class="footer-icons">
            <div class="footer-links">
                <ul>
                    <li><a href="">Terms & Condition</a></li>
                    <li><a href="">Privacy and Policy</a></li>
                    <li><a href="">Cookies</a></li>
                </ul>
            </div>
            <div class="icons-foot">
                <ul>
                <li><a href=""><i class='bx bxl-github'></i></a></li>
                <li><a href=""><i class='bx bxl-facebook-circle'></i></a></li>
                <li><a href=""><i class='bx bxl-linkedin'></i></a></li>
                <li><a href=""><i class='bx bxl-instagram'></i></a></li>
                </ul>
            </div>
       </div>
    </div>
</footer>
<script src="/js/main.js"></script>
<script src="/js/profile.js"></script>
</body>
</html>