<footer>
    <div class="foot footer-container">
       <div class="footer-content containers">
        <h1>Share your feedback</h1>
        <p>Share your experiences and help others make better choices.</p>
        <p> Rate now! 🤩</p>
        <a href="/login"><button class="btn-footer">Get Started</button></a>
        <div class="horizontal"></div>
       </div>
       
       <div class="footer-icons">
            <div class="footer-links">
                <ul>
                    <li><a href="">Terms & Condition</a></li>
                    <li><a href="">Privacy and Policy</a></li>
                    <li><a href="">Cookies</a></li>
                </ul>
            </div>
            <div class="icons-foot">
                <ul>
                <li><a href="https://github.com/alexiss455" target="_blank"><i class='bx bxl-github'></i></a></li>
                <li><a href="https://www.facebook.com/alexissmanalastas/" target="_blank"><i class='bx bxl-facebook-circle'></i></a></li>
                <li><a href="https://www.linkedin.com/in/alexiess-o-manalastas-566326243/" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                <li><a href="https://dev.to/alexiess" target="_blank"><i class='bx bxl-dev-to'></i></i></a></li>
                </ul>
            </div>
       </div>
    </div> 
</footer>
<script src="/js/main.js"></script>
<script src="/js/profile.js"></script>
<script src="/js/design.js"></script>
</body>
</html>