<%- include('partials/header'); -%>

<div class="content_height">
  <div class="about_">
    <div class="about_continer">
      <div class="about__"></div>
      <main>
        <div class="containers">
          <div class="about_desc">
            <div class="about_description">
              <h1>
                What is <br />
                GrapiScore?
              </h1>
              <p>Defining the GPU'S experience</p>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>

  <main>
    <div class="containers">
      <div class="about_team">
        <h1>Meet the team</h1>
      </div>

      <div class="about_teams">
        <div>
          <div class="abt_">
            <img src="/img/alex.png" alt="" class="abt_img" />
            <div class="abt_back"></div>
          </div>

          <div class="abt_name">
            <p>Alexiess Manalastas</p>
            <p>DEVELOPER</p>
          </div>
        </div>


        <div>
          <div class="abt_">
            <img src="/img/rovic.png" alt="" class="abt_imgs" />
            <div class="abt_back"></div>
          </div>

          <div class="abt_name">
            <p>Rovic Del Rosario</p>
            <p>DEVELOPER</p>
          </div>
        </div>


      </div>
    </div>
  </main>
</div>

<%- include('partials/footer'); -%>
