<%- include('partials/header'); -%>
<section class="section-content">
  <main>
    <div class="swiper">
      <div class="containers">
        <div class="home-content">
          <h1>What is the Best for you?</h1>
          <h4>Define the best GPU you experience</h4>
          <p>
            GraphiScore rating measures the performance, specifications, and
            features of a graphics card.
          </p>
        </div>
      </div>
    </div>
  </main>
</section>

<main>
  <div class="products containers">
    <div class="rate">
      <h3>Most rate/review GPU products 🔥</h3>
      <div class="products-content">
        <div class="products-card">
          <div class="prod-grid">
            <div class="prods-img-hover">
              <img
                src="/img/slider1.jpeg"
                alt="productsss"
                class="pic-products"
              />
            </div>
            <div class="prods-cards">
              <h4>Product Name</h4>
              <div class="product-rating">
                <p>⭐⭐⭐⭐⭐</p>
                <p>Rating (1)</p>
              </div>
              <div class="review">
                <p>
                  The RTX 3080 includes Nvidia's latest hardware-accelerated ray
                  tracing technology, as well as improved AI-based features for
                  improved image quality and performance.
                </p>
                <p>Reviews (3)</p>
              </div>
            </div>
          </div>
        </div>
        <div class="products-card">
          <div class="prod-grid">
            <div class="prods-img-hover">
              <img
                src="/img/slider1.jpeg"
                alt="productsss"
                class="pic-products"
              />
            </div>
            <div class="prods-cards">
              <h4>Product Name</h4>
              <div class="product-rating">
                <p>⭐⭐⭐⭐⭐</p>
                <p>Rating (1)</p>
              </div>
              <div class="review">
                <p>
                  The RTX 3080 includes Nvidia's latest hardware-accelerated ray
                  tracing technology, as well as improved AI-based features for
                  improved image quality and performance.
                </p>
                <p>Reviews (3)</p>
              </div>
            </div>
          </div>
        </div>

        <div class="products-card">
          <div class="prod-grid">
            <div class="prods-img-hover">
              <img
                src="/img/slider1.jpeg"
                alt="productsss"
                class="pic-products"
              />
            </div>
            <div class="prods-cards">
              <h4>Product Name</h4>
              <div class="product-rating">
                <p>⭐⭐⭐⭐⭐</p>
                <p>Rating (1)</p>
              </div>
              <div class="review">
                <p>
                  The RTX 3080 includes Nvidia's latest hardware-accelerated ray
                  tracing technology, as well as improved AI-based features for
                  improved image quality and performance.
                </p>
                <p>Reviews (3)</p>
              </div>
            </div>
          </div>
        </div>

        <div class="products-card">
          <div class="prod-grid">
            <div class="prods-img-hover">
              <img
                src="/img/slider1.jpeg"
                alt="productsss"
                class="pic-products"
              />
            </div>
            <div class="prods-cards">
              <h4>Product Name</h4>
              <div class="product-rating">
                <p>⭐⭐⭐⭐⭐</p>
                <p>Rating (1)</p>
              </div>
              <div class="review">
                <p>
                  The RTX 3080 includes Nvidia's latest hardware-accelerated ray
                  tracing technology, as well as improved AI-based features for
                  improved image quality and performance.
                </p>
                <p>Reviews (3)</p>
              </div>
            </div>
          </div>
        </div>

        <div class="products-card">
          <div class="prod-grid">
            <div class="prods-img-hover">
              <img
                src="/img/slider1.jpeg"
                alt="productsss"
                class="pic-products"
              />
            </div>
            <div class="prods-cards">
              <h4>Product Name</h4>
              <div class="product-rating">
                <p>⭐⭐⭐⭐⭐</p>
                <p>Rating (1)</p>
              </div>
              <div class="review">
                <p>
                  The RTX 3080 includes Nvidia's latest hardware-accelerated ray
                  tracing technology, as well as improved AI-based features for
                  improved image quality and performance.
                </p>
                <p>Reviews (3)</p>
              </div>
            </div>
          </div>
        </div>

        <div class="products-card">
          <div class="prod-grid">
            <div class="prods-img-hover">
              <img
                src="/img/slider1.jpeg"
                alt="productsss"
                class="pic-products"
              />
            </div>
            <div class="prods-cards">
              <h4>Product Name</h4>
              <div class="product-rating">
                <p>⭐⭐⭐⭐⭐</p>
                <p>Rating (1)</p>
              </div>
              <div class="review">
                <p>
                  The RTX 3080 includes Nvidia's latest hardware-accelerated ray
                  tracing technology, as well as improved AI-based features for
                  improved image quality and performance.
                </p>
                <p>Reviews (3)</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="news">
      <h3>TODAYS NEWS 🐱‍💻</h3>
      <div class="news-grid">
        <div class="news-content">
          <a href=""> <img src="/img/news1.jpg" alt="" class="news-pic" /></a>
          <p>Discrete GPU Sales Plummet to Historic Lows</p>
          <p class="subP">
            If you’ve been looking at the GPU market recently and thinking,
            “nope,” you’re not alone.<a href="#">Read More</a>....
          </p>
        </div>
        <div class="news-content">
          <a href=""> <img src="/img/news1.jpg" alt="" class="news-pic" /></a>
          <p>Discrete GPU Sales Plummet to Historic Lows</p>
          <p class="subP">
            If you’ve been looking at the GPU market recently and thinking,
            “nope,” you’re not alone.<a href="#">Read More</a>....
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
<%- include('partials/footer'); -%>
