<%- include('partials/header'); -%>
<div class="content_height">
<main>
  <div class="containers">
    <div class="graphiscore">
      <div class="graphiscore-icons">
        <i class="bx bx-trending-down g-icons"></i>
        <i class="bx bx-trending-up g-icons"></i>
        <h1>Graphiscore 🔎</h1>
      </div>
      <div class="graphiscore-search">
        <i class="bx bx-search-alt-2"></i>
        <input
          type="text"
          placeholder="Seach your best Experience"
          id="search-product-gpu"
        />
      </div>
    </div>

    <div class="graphiscore-content"></div>

  </div>
</main>
</div>

<%- include('partials/footer'); -%>
