<%- include('partials/header'); -%>
<main>
    <div class="containers">
        <div class="graphiscore">
            <div class="graphiscore-icons">
                <i class='bx bx-trending-down g-icons'></i>
                <i class='bx bx-trending-up g-icons'></i>
                <h1>Graphiscore 🔎 </h1>
            </div>
            <div class="graphiscore-search">
                <i class='bx bx-search-alt-2 '></i>
               <input type="text" placeholder="Seach your best Experience">
            </div>
        </div>
    
    
        <div class="graphiscore-content">
            <div class="graphiscore-card">
                <img src="/img/loginpc.png" alt="Graphiscore__" class="graphiscore-pic">
                <div class="graphiscore-stars">
                   <p>⭐⭐⭐⭐⭐</p>
                   <p>4.0</p>
                </div>
                <div class="graphiscore-title">
                    <h3>Graphiscore Name</h3>
                    <div class="rev-rat">
                        <p>6 Reviews</p>
                        <p>8 Ratings</p>
                    </div>
                </div>
            </div>
    
            <div class="graphiscore-card">
                <img src="/img/loginpc.png" alt="Graphiscore__" class="graphiscore-pic">
                <div class="graphiscore-stars">
                   <p>⭐⭐⭐⭐⭐</p>
                   <p>4.0</p>
                </div>
                <div class="graphiscore-title">
                    <h3>Graphiscore Name</h3>
                    <div class="rev-rat">
                        <p>6 Reviews</p>
                        <p>8 Ratings</p>
                    </div>
                </div>
            </div>
    
            <div class="graphiscore-card">
                <img src="/img/loginpc.png" alt="Graphiscore__" class="graphiscore-pic">
                <div class="graphiscore-stars">
                   <p>⭐⭐⭐⭐⭐</p>
                   <p>4.0</p>
                </div>
                <div class="graphiscore-title">
                    <h3>Graphiscore Name</h3>
                    <div class="rev-rat">
                        <p>6 Reviews</p>
                        <p>8 Ratings</p>
                    </div>
                </div>
            </div>
    
            <div class="graphiscore-card">
                <img src="/img/loginpc.png" alt="Graphiscore__" class="graphiscore-pic">
                <div class="graphiscore-stars">
                   <p>⭐⭐⭐⭐⭐</p>
                   <p>4.0</p>
                </div>
                <div class="graphiscore-title">
                    <h3>Graphiscore Name</h3>
                    <div class="rev-rat">
                        <p>6 Reviews</p>
                        <p>8 Ratings</p>
                    </div>
                </div>
            </div>
    
            <div class="graphiscore-card">
                <img src="/img/loginpc.png" alt="Graphiscore__" class="graphiscore-pic">
                <div class="graphiscore-stars">
                   <p>⭐⭐⭐⭐⭐</p>
                   <p>4.0</p>
                </div>
                <div class="graphiscore-title">
                    <h3>Graphiscore Name</h3>
                    <div class="rev-rat">
                        <p>6 Reviews</p>
                        <p>8 Ratings</p>
                    </div>
                </div>
            </div>
    
            <div class="graphiscore-card">
                <img src="/img/loginpc.png" alt="Graphiscore__" class="graphiscore-pic">
                <div class="graphiscore-stars">
                   <p>⭐⭐⭐⭐⭐</p>
                   <p>4.0</p>
                </div>
                <div class="graphiscore-title">
                    <h3>Graphiscore Name</h3>
                    <div class="rev-rat">
                        <p>6 Reviews</p>
                        <p>8 Ratings</p>
                    </div>
                </div>
            </div>
    
            <div class="graphiscore-card">
                <img src="/img/loginpc.png" alt="Graphiscore__" class="graphiscore-pic">
                <div class="graphiscore-stars">
                   <p>⭐⭐⭐⭐⭐</p>
                   <p>4.0</p>
                </div>
                <div class="graphiscore-title">
                    <h3>Graphiscore Name</h3>
                    <div class="rev-rat">
                        <p>6 Reviews</p>
                        <p>8 Ratings</p>
                    </div>
                </div>
            </div>
    
            <div class="graphiscore-card">
                <img src="/img/loginpc.png" alt="Graphiscore__" class="graphiscore-pic">
                <div class="graphiscore-stars">
                   <p>⭐⭐⭐⭐⭐</p>
                   <p>4.0</p>
                </div>
                <div class="graphiscore-title">
                    <h3>Graphiscore Name</h3>
                    <div class="rev-rat">
                        <p>6 Reviews</p>
                        <p>8 Ratings</p>
                    </div>
                </div>
            </div>
    
            <div class="graphiscore-card">
                <img src="/img/loginpc.png" alt="Graphiscore__" class="graphiscore-pic">
                <div class="graphiscore-stars">
                   <p>⭐⭐⭐⭐⭐</p>
                   <p>4.0</p>
                </div>
                <div class="graphiscore-title">
                    <h3>Graphiscore Name</h3>
                    <div class="rev-rat">
                        <p>6 Reviews</p>
                        <p>8 Ratings</p>
                    </div>
                </div>
            </div>
    
    
        </div>
    </div>
    </main>
<%- include('partials/footer'); -%>
