<%- include('partials/header'); -%>

<main>
  <div class="containers">
    <div class="profile_settings">
        <div class="profile_settings_picture">
            <img src="/img/slider2.jpeg" alt="" class="profile_settings_img">
        </div>
        <div class="profile_settings_name"><p>User Name</p></div>

        <div class="profile_settings_link">
        <a href=""><i class='bx bx-edit profile_icons'></i>Edit profile</a>
        <a href=""><i class='bx bx-share profile_icons'></i>Share profile</a>
        </div>
        <p class="profile_settings_bio">Nice to meet you here on GraphiScore! I'm jono.</p>
        <div class="profile_settings_revrate">
            <div>
                <h1>1</h1>
                <p>Reviews</p>
            </div>
            <div>
                <h1>4</h1>
                <p>Ratings</p>
            </div>
        </div>

        <h1 class="Activty">Activty</h1>

        <div class="profile_activty">
            <div class="profile_activty_img">
                <img src="/GraphiscorePicture/GV-N4080EAGLE-16GD.png" alt="" class="activty_img">
            </div>
            <div class="profile_activty_description">
                <div>
                    <div class="profile_activty_name">
                        <h2>Productname</h2>
                       <div class="profile_activity_average"> 
                        <span>⭐⭐⭐⭐⭐</span>
                        <span>3</span>
                        </div>
                    </div>
                    <p class="activty_description">Really awesome! Great product design too! </p>
                </div>

                <p class="activty_datetime">1/24/2023, 2:43:47 PM</p>
            </div>
        </div>
        
    </div>
  </div>
</main>

<%- include('partials/footer'); -%>
